In [4]:
import csv
from io import StringIO
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

#用來抓資料開始與結束年分的function
def yearzone(doc):
    nodes = doc.select('option')
    startyear=10000
    endyear=0
    
    for n in nodes:
        year = n.get_text()
        year=int(year)
        if startyear > year:
            startyear = year
        if endyear < year:
            endyear = year
    return [startyear,endyear]

In [5]:
#用requests和bs4抓資料開始與結束年分
res=requests.get('https://beta.bls.gov/dataViewer/view/timeseries/CES0000000001')
doc = bs(res.text, 'lxml')
year = yearzone(doc)
print(year)

[1939, 2019]

In [6]:
#用requests.post請求所需資料
url = 'https://beta.bls.gov/dataViewer/csv'
urlres=requests.post(url, data={'selectedSeriesIds': 'CES0000000001', 'startYear': year[0], 'endYear': year[1]})
#取出來存成dataframe的資料格式
data=urlres.text
data_io = StringIO(data)
df =  pd.read_csv(data_io)

df.head(20)

        Series ID  Year Period     Label  Value
0   CES0000000001  1939    M01  1939 Jan  29923
1   CES0000000001  1939    M02  1939 Feb  30100
2   CES0000000001  1939    M03  1939 Mar  30280
3   CES0000000001  1939    M04  1939 Apr  30094
4   CES0000000001  1939    M05  1939 May  30299
5   CES0000000001  1939    M06  1939 Jun  30502
6   CES0000000001  1939    M07  1939 Jul  30419
7   CES0000000001  1939    M08  1939 Aug  30663
8   CES0000000001  1939    M09  1939 Sep  31031
9   CES0000000001  1939    M10  1939 Oct  31411
10  CES0000000001  1939    M11  1939 Nov  31470
11  CES0000000001  1939    M12  1939 Dec  31542
12  CES0000000001  1940    M01  1940 Jan  31603
13  CES0000000001  1940    M02  1940 Feb  31715
14  CES0000000001  1940    M03  1940 Mar  31825
15  CES0000000001  1940    M04  1940 Apr  31701
16  CES0000000001  1940    M05  1940 May  31879
17  CES0000000001  1940    M06  1940 Jun  31977
18  CES0000000001  1940    M07  1940 Jul  31942
19  CES0000000001  1940    M08  1940 Aug  32352